body {
    font-family: 'Raleway', sans-serif;
}

h2 {
    color: silver;
}

img {
    max-width: 100%;
}

.divider {
    border: none;
    color: #7d97ad;
    background-color: #7d97ad;
    height: 3px;
}

.header-title {
    text-align: right;
}

.header {
    height: 100px;
    vertical-align: middle;
    color: #2d3c49;
}

.capitalize {
    text-transform: uppercase;;
}


.container {
    max-width: 60em;
}

@media screen and (max-width: 767px) {
    h1, h2, h3, h4 {
        text-align: center;
    }
    .logo {
        display: none;
    }
    .header-title {
        text-align: left;
    }
    .container {
        margin: 0 2em 0 2em;
    }
}

@media screen and (max-width: 576px) {
    #banner {
        display: none;
    }
